{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Welcome IndieCrafters!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">IndieCrafters is a group dedicated to showcasing smaller indie Minecraft servers.</p>
                        <a class="btn btn-primary btn-xl" href="#servers">Find a Server</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Our goal:</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">We want to encourage and heighten indie Minecraft servers. Smaller servers can offer a more unique experience from the larger servers, and we want to help more people find that experience!</p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        {% comment %}
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Sturdy Themes</h3>
                            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Up to Date</h3>
                            <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Ready to Publish</h3>
                            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endcomment %}
        <!-- Servers-->
        <section class="page-section bg-dark text-white pb-0" id="servers">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Member Servers</h2>
            </div>
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                {% for server in servers %}
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'show_server' server.id server.slug %}" title="{{server.name}}">
                            <img class="img-fluid" style="height: 300px; width: fit-content;" src="{{server.profile_picture.url}}" height="200" alt="..." />
                            <div class="portfolio-box-caption">
                                {% if server.owner %}<div class="project-category text-white-50">{{server.owner}}</div>{% endif %}
                                <div class="project-name">{{server.name}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        </section>

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Add your server!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Fill out this form to submit your server for review! Once it gets accepted your server will show up under the Servers page!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm" class="form" action="#" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <!-- Submit Button-->
                            <div class="d-grid mt-5"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </section>
{% endblock %}